<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Juegos</title>
</head>
<body>
    <h1>Juegos Activos</h1>
    <ul>
        <% activeGames.forEach(game => { %>
            <li><%= game.name %> - Organizado por: <%= game.organizer.displayName %></li>
        <% }) %>
    </ul>

    <h1>Juegos Finalizados</h1>
    <ul>
        <% completedGames.forEach(game => { %>
            <li><%= game.name %> - Ganador: <%= game.winner %></li>
        <% }) %>
    </ul>
</body>
</html>
