<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Juegos</title>
</head>
<body>
    <h1>Tus Juegos</h1>
    <ul>
        <% games.forEach(game => { %>
            <li>
                <a href="/game/<%= game._id %>/supervise">Supervisar <%= game.name %></a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
